*{
    color: rgb(61, 61, 61);
}
#subject{
    text-align: center;
    color: rgb(255, 0, 0);
}
.top{
    font-family: 'Courier New', Courier, monospace sans-serif;
    font-weight: 900;
}

ol li span.first33 {
    font-size: 1.05em;
    font-weight: 600;
}
h3{
    color: black;
}
h4{
    color: black;
}

.topic{
    text-align: center;
    background-color: #d3d3d3;
}